.carouselWrapper {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.carouselWrapper::before,
.carouselWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.carouselWrapper::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.carouselWrapper::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

.carousel {
  display: flex;
  width: max-content; /* Allows smooth scrolling */
  animation: scroll 60s linear infinite;
}

.slide {
  flex: 0 0 auto;
  width: 200px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

.logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 2rem));
  }
}

